* {
  border: none;
  border-radius: 0;
  font-family: "Tinos Nerd Font", monospace;
  font-size: 12px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: #e3e7ed;
}

#workspaces {
  background-color: #100e1f;
  margin: 10px;
  border: 2px solid #2346bc;
  box-shadow: 0px 1px 5px 0px #2346bc;
  border-radius: 10px;
}

#workspaces button {
  margin: 5px;
  padding: 5px 10px 5px 10px;
  border-radius: 30px;
  color: #fff5ca;
  transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.68);
}

#workspaces button:hover {
  color: #e3e7ed;
  border-radius: 30px;
}

#workspaces button.active {
  color: #d91b4f;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#custom-music {
  color: #100e1f;
  font-weight: bold;
  background: linear-gradient(-45deg, #2346bc, #2346bc, #75c9e9, #e3e7ed);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  border-top: 2px solid #2346bc;
  border-left: 2px solid #2346bc;
  border-bottom: 2px solid #2346bc;
  border-right: 2px solid #2346bc;
  margin: 10px;
  padding-left: 10px;
  padding-right: 20px;
  border-radius: 15px;
  box-shadow: 0px 1px 5px 0px #2346bc;
}

#custom-updates {
  color: #e3e7ed;
  font-weight: bold;
  background-color: #100e1f;
  border-top: 2px solid #2346bc;
  border-left: 2px solid #2346bc;
  border-bottom: 2px solid #2346bc;
  margin: 10px 0px 10px 10px;
  padding-left: 10px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

#temperature {
  color: #e3e7ed;
  background-color: #100e1f;
  border-top: 2px solid #2346bc;
  border-bottom: 2px solid #2346bc;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#backlight {
  color: #e3e7ed;
  background-color: #100e1f;
  border-top: 2px solid #2346bc;
  border-bottom: 2px solid #2346bc;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
}

#disk {
  color: #e3e7ed;
  background-color: #100e1f;
  border-top: 2px solid #2346bc;
  border-bottom: 2px solid #2346bc;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
}

#clock {
  color: #e3e7ed;
  background-color: #100e1f;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 2px solid #2346bc;
  border-left: 2px solid #2346bc;
  border-bottom: 2px solid #2346bc;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding-left: 15px;
}

#wireplumber {
  color: #e3e7ed;
  background-color: #100e1f;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-left: 5px;
  padding-right: 15px;
  border-top: 2px solid #2346bc;
  border-bottom: 2px solid #2346bc;
  border-right: 2px solid #2346bc;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

#tray {
  color: #e3e7ed;
  background-color: #100e1f;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 15px;
  border-top: 2px solid #2346bc;
  border-left: 2px solid #2346bc;
  border-bottom: 2px solid #2346bc;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

#gamemode {
  color: #e3e7ed;
  background-color: #100e1f;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff5ca;
  padding-left: 10px;
  border-top: 2px solid #2346bc;
  border-bottom: 2px solid #2346bc;
}

#custom-powermenu {
  background-color: #100e1f;
  border-top: 2px solid #2346bc;
  border-bottom: 2px solid #2346bc;
  border-right: 2px solid #2346bc;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  color: #48c9c4;
}

#battery {
  color: #e3e7ed;
  background-color: #100e1f;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-top: 2px solid #2346bc;
  border-bottom: 2px solid #2346bc;
}

#cpu {
  color: #e3e7ed;
  background-color: #100e1f;
  border-top: 2px solid #2346bc;
  border-bottom: 2px solid #2346bc;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
}

#memory {
  color: #e3e7ed;
  background-color: #100e1f;
  border-top: 2px solid #2346bc;
  border-bottom: 2px solid #2346bc;
  border-right: 2px solid #2346bc;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

#window {
  color: #100e1f;
  font-weight: bold;
  background: linear-gradient(-45deg, #2346bc, #2346bc, #75c9e9, #e3e7ed);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  border-top: 2px solid #2346bc;
  border-left: 2px solid #2346bc;
  border-bottom: 2px solid #2346bc;
  border-right: 2px solid #2346bc;
  margin: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
  box-shadow: 0px 1px 5px 0px #2346bc;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
